fuse-card.profile-redirect{
  background-color: #002D72;
}

.data-stats{
  max-height: 5.75rem;
}

.view-profile{
  background-color: #ffffff;
  color: #002D72 !important;
}

.bg-sky-color {
  background-color: #6DD2FD;
}

.bg-violet-color {
  background-color: #981D97;
}

.bg-emerald-color {
  background-color: #D0006F;
}

.bg-lion-color {
  background-color: #B7A66D;
}

.bg-orange-color {
  background-color: #ED8B00;
}
.wh-80 {
  width: 80px;
  height: 80px;
}

.max-w-12 {
  max-width: 12.125rem !important;
}  

.scroll-container {
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
 
.scroll-container::-webkit-scrollbar {
  display: none;
}

.photo-resolution{
  width: 8.25rem !important;
  height: 8.25rem !important;
}

.custom-transfer-icon {
  background: #002D720D;
  padding: 8px;
  width: 44px;
  border-radius: 50%;
  font-size: 20px !important;
  height: 44px;
}

.mat-icon.min-wh-16 {
  min-width: 16px;
  min-height: 16px;
  width: 16px;
  height: 16px;
}

.br-lb-2 {
  border-radius: 8px 0 0 8px;
}

.dashboard-banner {
  // height: min-content !important;
  // margin-top: 1.35rem;
}

.text-60px {
  font-size: 3.75rem;
}

.text-30px {
  font-size: 1.875rem;
}