:root {
    /* Colors: */
    --white-color: #FFFFFF;
    --primary-color: #002d72;
    --text-secondary: #6b7280;
    --text-dark-color: #1f2a37;
    --border-hr: #dfe4ea;
    --alert-text-color: #111928;
    --bg-sky-color: #18bfff;
    --bg-violet-color: #981d97;
    --bg-vivid-pink-color: #d0006f;
    --bg-secondary-color: #EBEEFE;
    --table-header-bg: #f9fafb;
    --text-green-color: #22AD5C;
    --text-red-color: #F23030;
}
