
    <div class="flex flex-wrap w-full max-w-screen-xl mx-auto p-6 md:p-8">
        <div class="w-full grid-flow-row">
            <div class="grid grid-cols-1 lg:grid-cols-2 grid-flow-row gap-6 w-full mt-6 sm:mt-3">
                <div class="lg:col-span-1 flex flex-col">
                    <span class="font-medium text-secondary">Charitable Registration # 88900 7597 RR0001.</span>
                       <span class="font-medium text-secondary"> &copy; 2024 The Princess Margaret Cancer Foundation. All rights reserved</span>
                </div>
            <div class="lg:col-span-1 grid grid-cols-1 md:grid-cols-2 gap-6">
                <div class="md:col-span-1 flex flex-col">
                    <span class="font-medium text-secondary">Contact Us</span>
                    <span class="font-medium text-secondary">Privacy</span>
                    <span class="font-medium text-secondary">Terms & Conditions</span></div>
                    <div class="md:col-span-1 flex justify-between items-center">
                    <mat-icon class="w-6 h-6  footer-icon"
                    [svgIcon]="'feather:youtube'"></mat-icon>
                    <mat-icon class="w-6 h-6  footer-icon"
                    [svgIcon]="'feather:facebook'"></mat-icon>
                    <mat-icon class="w-6 h-6 footer-icon"
                    [svgIcon]="'feather:twitter'"></mat-icon>
                    <mat-icon class="w-6 h-6 footer-icon"
                    [svgIcon]="'feather:linkedin'"></mat-icon>
                    <mat-icon class="w-6 h-6 footer-icon"
                    [svgIcon]="'feather:instagram'"></mat-icon>
                </div>
            </div>
            </div>
        </div>
    </div>
